<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ROOT_URL</key>
	<string>http://localhost:8080</string>
	<key>BUCKET_URL</key>
	<string>https://b33bop-ios.s3.us-east-1.amazonaws.com</string>
	<key>GOOGLE_CLIENT_ID</key>
	<string>1081701033436-ucprc2o71tq4eorbqco50gpfd6a15413.apps.googleusercontent.com</string>
	<key>APP_BUNDLE_ID</key>
	<string>io.liamreardon.windmill.dev</string>
	<key>APP_NAME</key>
	<string>B33BOP</string>
</dict>
</plist>
